<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="path" value="c:\temp"/>
    <add key="url" value="http://www.mbnet.com.pl/dl_plus.txt"/>
    <add key="fileName" value="dl.txt"/>
  </appSettings>
  <connectionStrings>
    <add name ="mssql" connectionString="Data Source =localhost; Initial Catalog = DBLotto; Persist Security Info = True; User ID = root; Password = 123;"/>
  </connectionStrings>
</configuration>